upstream {{ app_name }}_backend {
    server {{ app_backend | regex_replace('^https?://', '') | regex_replace('/$', '') }};
    keepalive 32;
}

# Redirect HTTP to HTTPS
server {
    listen 80;
    server_name {{ app_domain }};
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name {{ app_domain }};

    ssl_certificate         {{ ssl_cert_path }};
    ssl_certificate_key     {{ ssl_key_path }};
    include /etc/nginx/snippets/ssl-params.conf;
    include /etc/nginx/snippets/security-headers.conf;

    access_log /var/log/nginx/{{app_name}}_access.log;
    error_log /var/log/nginx/{{app_name}}_error.log warn;

    location / {
        proxy_pass {{ app_backend_scheme }}://{{ app_name }}_backend;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        
        proxy_buffering {{ app_proxy_buffering }};
        client_max_body_size {{ app_max_body_size }};
    }
    location /api/webhook {
            proxy_pass {{ app_backend_scheme }}://{{ app_name }}_backend;
            proxy_method POST;
            proxy_set_header Host $host;

            proxy_hide_header Content-Type;
            add_header Content-Type text/plain;

            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
    }
}