services:
  jellyfin:
    image: jellyfin/jellyfin:{{ jellyfin_version }}
    container_name: jellyfin
    group_add:
      - "{{ fileshare_group_gid }}"
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - jellyfin-config:/config
      - jellyfin-cache:/cache
      - type: bind
        source: "{{ home_videos_mount_point }}"
        target: /home_videos
    restart: 'unless-stopped'
    networks:
      - pangolin_network
networks:
  pangolin_network:
    external: true
volumes:
  jellyfin-config:
  jellyfin-cache: