services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: "1000:3004"
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - /var/lib/docker/volumes/jellyfin-config/_data:/config
      - /var/lib/docker/volumes/jellyfin-cache/_data:/cache
      - type: bind
        source: /mnt/truenas_shares/home
        target: /home_videos
    restart: 'unless-stopped'
    networks:
      - pangolin_network
networks:
  pangolin_network:
    external: true