services:
  jellyfin:
    image: jellyfin/jellyfin:{{ jellyfin_version }}
    container_name: jellyfin
{% if jellyfin_nvidia_enabled | default(container_manager_nvidia_enabled | default(false)) %}
    runtime: nvidia
    environment:
      NVIDIA_VISIBLE_DEVICES: {{ jellyfin_nvidia_visible_devices }}
      NVIDIA_DRIVER_CAPABILITIES: {{ jellyfin_nvidia_driver_capabilities }}
{% endif %}
    group_add:
      - "{{ fileshare_group_gid }}"
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - /var/lib/docker/volumes/jellyfin-config/_data:/config
      - /var/lib/docker/volumes/jellyfin-cache/_data:/cache
      - type: bind
        source: /mnt/truenas_shares/home
        target: /home_videos
    restart: 'unless-stopped'
    networks:
      - pangolin_network
networks:
  pangolin_network:
    external: true