version: '3.8'
services:
  jellystat:
    image: cyfershepard/jellystat:latest
    container_name: jellystat
    restart: unless-stopped
    ports:
      - '3000:3000'
    environment:
      - POSTGRES_USER=jellystat
      - POSTGRES_PASSWORD={{ jellystat_db_password }}
      - POSTGRES_IP=jellystat-db
      - POSTGRES_PORT=5432
      - JWT_SECRET={{ jellystat_jwt_secret }}
      - TZ={{ timezone }}
    depends_on:
      - jellystat-db
    volumes:
      - 'jellystat-backup-data:/app/backend/backup-data'
    networks:
      - pangolin_network
  jellystat-db:
    image: 'postgres:15.2'
    shm_size: 256mb
    container_name: jellystat-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=jellystat
      - POSTGRES_PASSWORD={{ jellystat_db_password }}
    volumes:
      - 'jellystat-db:/var/lib/postgresql/data'
    networks:
      - pangolin_network
networks:
  pangolin_network:
    external: true
volumes:
  jellystat-db:
  jellystat-backup-data: