services:
  prometheus:
    container_name: prometheus
    image: prom/prometheus:v3.9.1
    restart: unless-stopped
    ports:
      - 9090:9090
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /home/{{ username }}/docker/monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    networks:
      - monitoring-network
  grafana:
    image: grafana/grafana-enterprise:12.3.1
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_SERVER_ROOT_URL=https://monitoring.{{ domain }}
      - GF_PLUGINS_PREINSTALL=grafana-clock-panel
    ports:
      - '3001:3000'
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - 'grafana_storage:/var/lib/grafana'
    networks:
      - monitoring-network
    depends_on:
      - prometheus
  unpoller:
    image: ghcr.io/unpoller/unpoller:v2.21.0
    restart: unless-stopped
    ports:
      - '9130:9130'
    container_name: unpoller
    environment:
      - UP_INFLUXDB_DISABLE=true
      - UP_POLLER_DEBUG=false
      - UP_UNIFI_DYNAMIC=false
      - UP_PROMETHEUS_HTTP_LISTEN=0.0.0.0:9130
      - UP_PROMETHEUS_NAMESPACE=unpoller
      - UP_UNIFI_CONTROLLER_0_PASS={{ unifi_unpoller_password }}
      - UP_UNIFI_CONTROLLER_0_SAVE_ALARMS=true
      - UP_UNIFI_CONTROLLER_0_SAVE_ANOMALIES=true
      - UP_UNIFI_CONTROLLER_0_SAVE_DPI=true
      - UP_UNIFI_CONTROLLER_0_SAVE_EVENTS=true
      - UP_UNIFI_CONTROLLER_0_SAVE_IDS=true
      - UP_UNIFI_CONTROLLER_0_SAVE_SITES=true
      - UP_UNIFI_CONTROLLER_0_URL=https://192.168.86.1
      - UP_UNIFI_CONTROLLER_0_USER={{ unifi_unpoller_user }}
    networks:
      - monitoring-network
volumes:
  grafana_storage: {}
  prometheus_data:
networks:
  monitoring-network:
    driver: bridge