---
- name: Remove Exisiting Docker Containers
  ansible.builtin.dnf:
    name:
      - docker
      - docker-client
      - docker-client-latest
      - docker-common
      - docker-latest
      - docker-latest-logrotate
      - docker-logrotate
      - docker-engine
    state: absent
    autoremove: true
    
- name: Install DNF Core
  ansible.builtin.dnf:
    name:
      - dnf-plugins-core
    state: present

- name: Add Docker repository
  ansible.builtin.command:
    cmd: dnf config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
    creates: /etc/yum.repos.d/docker-ce.repo

- name: Install Docker
  ansible.builtin.dnf:
    name: 
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
  
- name: Start Docker service
  ansible.builtin.systemd:
    name: docker
    enabled: true
    state: started
  
- name: Validate Docker installation
  ansible.builtin.command:
    cmd: docker run --rm hello-world
  register: docker_hello_world

- name: Display Docker hello-world output
  ansible.builtin.debug:
    var: docker_hello_world.stdout