---
- name: Create users
  ansible.builtin.user:
    name: "{{ deploy_user_name }}"
    state: present
    comment: "Deploy User"
    shell: /bin/bash
    create_home: yes
    groups: "wheel,docker"
    append: yes

- name: Create ssh directory for user
  ansible.builtin.file:
    path: "/home/{{ deploy_user_name }}/.ssh"
    state: directory
    owner: "{{ deploy_user_name }}"
    group: "{{ deploy_user_name }}"
    mode: "0700"

- name: Import authorized keys for user
  ansible.builtin.authorized_key:
    user: "{{ deploy_user_name }}"
    state: present
    key: "{{ lookup('file', deployuser_ssh_public_key_path) }}"