app:
  dashboard_url: "https://pangolin.{{ domain }}"
  save_logs: true

domains:
  domain1:
    base_domain: "pangolin.{{ domain }}"
    cert_resolver: "letsencrypt"

server:
  secret: "{{ pangolin_tunnel_token }}"
  maxmind_db_path: "./config/GeoLite2/GeoLite2-Country.mmdb"
  maxmind_asn_path: "./config/GeoLite2/GeoLite2-ASN.mmdb"

gerbil:
  base_endpoint: "pangolin.{{ domain }}"

flags:
  require_email_verification: false
  disable_signup_without_invite: true
  disable_user_create_org: true