<domain type='kvm'>
  <name>{{ container_manager_vm_name }}</name>
  <memory unit='MiB'>{{ container_manager_memory_mb }}</memory>
  <currentMemory unit='MiB'>{{ container_manager_memory_mb }}</currentMemory>
  <vcpu placement='static'>{{ container_manager_vcpus }}</vcpu>
  <os>
    <type arch='x86_64' machine='{{ container_manager_machine_type }}'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode='host-passthrough'/>
  <devices>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ container_manager_disk_path }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ container_manager_seed_img_path }}'/>
      <target dev='sda' bus='sata'/>
      <readonly/>
    </disk>
    <interface type='network'>
      <mac address='{{ container_manager_mac_address }}'/>
      <source network='{{ vm_network_bridge_name }}'/>
      <model type='{{ container_manager_network_model }}'/>
    </interface>
    <serial type='pty'>
      <target port='0'/>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
    <graphics type='vnc' port='-1' autoport='yes' listen='127.0.0.1'/>
    <video>
      <model type='vga' vram='16384' heads='1'/>
    </video>
  </devices>
</domain>